{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <h1>Welcome to My Office Dashboard</h1>

    

    
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# Assurez-vous d'inclure les scripts par défaut #}
    <script>
        
    </script>
{% endblock %}
